body {
	color: rgb(2,2,2);
	background-color:#efefef;
	font-family: 'Fira Sans', Verdana, sans-serif, Arial, Helvetica;
	line-height: 1.6;
	max-width: 40rem;
	padding:2rem;
	margin:auto;
}


/* Set a style for all buttons */
button {
  background-color: #2b5d9e;
  color: white;
  
  padding: 1em 1.5em;
  
  border: none;
  cursor: pointer;
  width: 20%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

.header-container {
  padding: 1em 0 1em 0;
  margin: 0 0 1em 0;;
}

/* Add padding to containers */
.container {
  padding: 1em;
  border: 1px solid black;
  background-color: white;
}

span {
	font-size: 18pt;
	float: right;
	text-align: center;
}
