@import url("basic.css");

input[type=text], input[type=password] {
  width: 100%; 
}

/* Add padding to containers */
.container {
  padding: 1em;
}

/* The "Forgot password" text */
.register {
  float: right;
  padding-top: 1em;
}

button {
  width: 100%;
}