@import url("_header.css");
@import url("_sidebar.css");
@import url("basic.css");

body {
	max-width: 50%;
}

hr {
	size: 1px;
	color: #efefef;
}

.container {
  border: 1px solid black;
  background-color: white;
}
