@import url("basic.css");

select {
  padding: 1em 1.5em;
  margin: 0.5em 0;
  
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.halfText {
	width: 49%;
}

.fullText {
	width: 100%;
}

/* The "Forgot password" text */
.login {
  float: right;
  padding-top: 1em;
}

button {
	width: 100%;
}